/* Our default values set as CSS variables */
:root {
  --color-bg: #feede5;

  --color-primary: #27aae1;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;

  --block-color-1: #1c7ea8;
  --block-color-2: #74b5da;
}



.box-js {
  width: 200px;
  height: 200px;
  background-color: var(--dynamic-color-js);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}



/* Basic page style resets */
* {
  box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
[hidden] {
  display: none !important;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
} 
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quilt {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0;
}


.block {
  width: 0; height: 0;
  border-style: solid;
  border-width: 5vw;
  cursor: pointer;
  transform: rotate(0deg);
  transition: all 0.1s ease;
}

#block1, #block2, #block3, #block4, #block5, #block6, #block7, #block8, #block9, #block10, #block11, #block12, #block13, #block14, #block15, #block16, #block17, #block18, #block19, #block20, #block21, #block22, #block23, #block24, #block25, #block26, #block27, #block28, #block29, #block30, #block31, #block32, #block33, #block34, #block35, #block36, #block37, #block38, #block39, #block40  {
transition: all 0.1s ease;
}

#block1.clicked, #block2.clicked, #block3.clicked, #block4.clicked, #block5.clicked, #block6.clicked, #block7.clicked, #block8.clicked, #block9.clicked, #block10.clicked, #block11.clicked, #block12.clicked, #block13.clicked, #block14.clicked, #block15.clicked, #block16.clicked, #block17.clicked, #block18.clicked, #block19.clicked, #block20.clicked, #block21.clicked, #block22.clicked, #block23.clicked, #block24.clicked, #block25.clicked, #block26.clicked, #block27.clicked, #block28.clicked, #block29.clicked, #block30.clicked, #block31.clicked, #block32.clicked, #block33.clicked, #block34.clicked, #block35.clicked, #block36.clicked, #block37.clicked, #block38.clicked, #block39.clicked, #block40.clicked {
  transition: all 0.1s ease;

}


#block1[data-playhtml-hover], #block2[data-playhtml-hover], #block3[data-playhtml-hover], #block4[data-playhtml-hover], #block5[data-playhtml-hover], #block6[data-playhtml-hover], #block7[data-playhtml-hover], #block8[data-playhtml-hover], #block9[data-playhtml-hover], #block10[data-playhtml-hover], #block11[data-playhtml-hover], #block12[data-playhtml-hover], #block13[data-playhtml-hover], #block14[data-playhtml-hover], #block15[data-playhtml-hover], #block16[data-playhtml-hover], #block17[data-playhtml-hover], #block18[data-playhtml-hover], #block19[data-playhtml-hover], #block20[data-playhtml-hover], #block21[data-playhtml-hover], #block22[data-playhtml-hover], #block23[data-playhtml-hover], #block24[data-playhtml-hover], #block25[data-playhtml-hover], #block26[data-playhtml-hover], #block27[data-playhtml-hover], #block28[data-playhtml-hover], #block29[data-playhtml-hover], #block30[data-playhtml-hover], #block31[data-playhtml-hover], #block32[data-playhtml-hover], #block33[data-playhtml-hover], #block34[data-playhtml-hover], #block35[data-playhtml-hover], #block36[data-playhtml-hover], #block37[data-playhtml-hover], #block38[data-playhtml-hover], #block39[data-playhtml-hover], #block40[data-playhtml-hover] {
  transition: all 0.1s ease;
}


/* BLOCK 1 STATES */


.b1-state1 {
  border-color: var(--block-color-2) var(--block-color-1) var(--block-color-2) var(--block-color-1);
}
.b1-state2 {
  border-color: var(--block-color-1) var(--block-color-1) var(--block-color-1) var(--block-color-1);
}
.b1-state3 {
  border-color: var(--block-color-2) var(--block-color-1) var(--block-color-1) var(--block-color-1);
}
.b1-state4 {
  border-color: var(--block-color-1) var(--block-color-2) var(--block-color-1) var(--block-color-1);
}
.b1-state5 {
  border-color: var(--block-color-1) var(--block-color-1) var(--block-color-2) var(--block-color-1); 
}
.b1-state6 {
  border-color: var(--block-color-1) var(--block-color-1) var(--block-color-1) var(--block-color-2);
}
.b1-state7 {
  border-color: var(--block-color-2) var(--block-color-1) var(--block-color-1) var(--block-color-2);
}
.b1-state8 {
  border-color: var(--block-color-2) var(--block-color-2) var(--block-color-1) var(--block-color-1);
}
.b1-state9 {
  border-color: var(--block-color-1) var(--block-color-2) var(--block-color-2) var(--block-color-1);
} 
.b1-state10 {
  border-color: var(--block-color-1) var(--block-color-1) var(--block-color-2) var(--block-color-2);
}
.b1-state11 {
  border-color: var(--block-color-1) var(--block-color-2) var(--block-color-2) var(--block-color-2);
}
.b1-state12 {
  border-color: var(--block-color-2) var(--block-color-1) var(--block-color-2) var(--block-color-2);
}
.b1-state13 {
  border-color: var(--block-color-2) var(--block-color-2) var(--block-color-1) var(--block-color-2);
}
.b1-state14 {
  border-color: var(--block-color-2) var(--block-color-2) var(--block-color-2) var(--block-color-1);
}
.b1-state15 {
  border-color: var(--block-color-2) var(--block-color-2) var(--block-color-2) var(--block-color-2);
}
.b1-state16 {
  border-color: var(--block-color-1) var(--block-color-2) var(--block-color-1) var(--block-color-2);
} 

/* Type */

h1 {
  color: var(--block-color-1);
  font-family: "Jacquard 24", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 13vw;
  margin: 0;
}

p, legend, label {
  font-size: 1.25rem;
  text-align: center;
  text-wrap: pretty;
}

legend{
  display:inline-block;
  padding: 1rem;
}



.emoji {
  font-size:6vw;
  position:absolute;
  top:0;
  left:50vw;
}


img {
  max-width:50px;
}